### type B 최종 데이터셋 구축 (환경 + 생육)

In [73]:
import pandas as pd

#### 환경

In [74]:
env_df = pd.read_csv("./2020/환경데이터_최최종_주별_b.csv", encoding="ANSI")
env_df.info()
env_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               432 non-null    int64
 1   week             432 non-null    int64
 2   week_start_date  432 non-null    object
 3   temp_ex_day      426 non-null    float64
 4   temp_ex_night    426 non-null    float64
 5   s_am_day         432 non-null    float64
 6   s_am_night       432 non-null    float64
 7   temp_int_day     426 non-null    float64
 8   temp_int_night   426 non-null    float64
 9   hum_int_day      426 non-null    float64
 10  hum_int_night    426 non-null    float64
 11  CO2_day          426 non-null    float64
 12  CO2_night        426 non-null    float64
 13  st_day           426 non-null    float64
 14  st_night         426 non-null    float64
dtypes: float64(12), int64(2), object(1)
memory usage: 50.8+ KB

,id,week,week_start_date,temp_ex_day,temp_ex_night,s_am_day,s_am_night,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,st_day,st_night
0,11,1,2020.9.15 0:00,22.790568,16.758658,1.173663,0.0,24.158700,18.753139,59.381868,85.672078,504.871603,530.336807,15.831841,15.831841
1,11,2,2020.9.22 0:00,22.459982,16.191234,1.445000,0.0,24.175175,21.264586,38.689560,76.273268,478.421703,552.349026,15.831841,15.831841
2,11,3,2020.9.29 0:00,20.963961,15.372802,1.140346,0.0,23.842775,23.883274,43.121212,81.451465,512.433442,600.288462,15.831841,15.831841
3,11,4,2020.10.6 0:00,19.831061,13.555952,1.325444,0.0,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
4,11,5,2020.10.13 0:00,15.314640,7.020579,1.134286,0.0,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841

52번 임시삭제

In [75]:
idx = env_df[env_df["id"] == 52].index

env_df.drop(idx, inplace=True)

In [76]:
env_df.tail()

,id,week,week_start_date,temp_ex_day,temp_ex_night,s_am_day,s_am_night,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,st_day,st_night
376,49,32,2021-04-21 0:00,15.839246,13.297532,1.593093,0.0,22.093878,14.183117,54.800235,80.705844,550.252747,725.336364,21.654082,17.559221
377,49,33,2021-04-28 0:00,17.392020,14.327879,1.456934,0.0,21.147320,14.923814,54.984444,77.971693,490.852564,616.479221,21.289042,17.800814
378,49,34,2021-05-05 0:00,19.238168,16.395786,1.496688,0.0,22.805688,16.029913,50.195018,69.207547,489.121664,572.813276,22.594945,18.941818
379,49,35,2021-05-12 0:00,16.731125,15.525108,0.939016,0.0,21.295113,16.094820,76.178509,90.330967,554.631554,629.615873,21.069383,18.176710
380,49,36,2021-05-19 0:00,20.471429,18.061667,1.097857,0.0,24.075000,16.858333,65.319048,84.428333,548.642857,641.816667,23.366667,20.445000

In [77]:
# 4 ~ 30주차만 가져오기
env_df = env_df[(env_df["week"] > 3) & (env_df["week"] < 31)]

In [78]:
# merge 용 컬럼 영문명으로 변경
env_df.rename(columns = {"s_am_day" : "sr_ex_day", "s_am_night" : "sr_ex_night",
                        "st_day" : "soil_temp_day", "st_night" : "soil_temp_night"}, inplace = True)

In [79]:
env_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 3 to 374
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               297 non-null    int64
 1   week             297 non-null    int64
 2   week_start_date  297 non-null    object
 3   temp_ex_day      296 non-null    float64
 4   temp_ex_night    296 non-null    float64
 5   sr_ex_day        297 non-null    float64
 6   sr_ex_night      297 non-null    float64
 7   temp_int_day     296 non-null    float64
 8   temp_int_night   296 non-null    float64
 9   hum_int_day      296 non-null    float64
 10  hum_int_night    296 non-null    float64
 11  CO2_day          296 non-null    float64
 12  CO2_night        296 non-null    float64
 13  soil_temp_day    296 non-null    float64
 14  soil_temp_night  296 non-null    float64
dtypes: float64(12), int64(2), object(1)
memory usage: 37.1+ KB

#### 생육 데이터

In [80]:
grow_df = pd.read_csv("./2020/생육데이터_스무딩_완료.csv", encoding="ANSI")
grow_df.info()
grow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1188 non-null   int64
 1   week             1188 non-null   int64
 2   week_start_date  1188 non-null   object
 3   obj_num          1188 non-null   int64
 4   flw_get          1188 non-null   int64
 5   last_flw_get     1144 non-null   float64
 6   height_pl        1188 non-null   float64
 7   num_leaf         1188 non-null   int64
 8   len_leaf         1188 non-null   float64
 9   width_leaf       1188 non-null   float64
 10  unit_len         1188 non-null   float64
 11  dim_pipe         1188 non-null   float64
dtypes: float64(6), int64(5), object(1)
memory usage: 111.5+ KB

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,dim_pipe
0,11,4,2020.10.6 0:00,1,0,NaN,20.8,7,10.3,8.4,7.5,13.30
1,11,4,2020.10.6 0:00,2,0,NaN,18.4,7,8.7,7.3,6.5,12.31
2,11,4,2020.10.6 0:00,3,0,NaN,21.2,6,11.6,8.6,7.8,12.56
3,11,4,2020.10.6 0:00,4,0,NaN,24.6,6,11.4,9.3,9.1,12.88
4,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,7.9,13.36

In [81]:
# # 사용할 컬럼만
# grow_col = ["농가명", "week", "개체번호", "초장", "엽수", "엽장", "엽폭", "엽병장", "관부직경", "화방별착과수"]

# grow_df = grow_df[grow_col]

In [82]:
# grow_df = grow_df[(grow_df["week"] > 3) & (grow_df["week"] < 31)]

In [83]:
# merge 용 컬럼 영문명으로 변경
grow_df.rename(columns = {"농가명" : "id", "개체번호" : "obj_num", "초장" : "height_pl", "엽수" : "num_leaf", "엽장" : "len_leaf", "엽폭" : "width_leaf", "엽병장" : "unit_len", "관부직경" : "dim_pipe", "화방별착과수" : "flw_get"}, inplace = True)

#### Merge 진행

merge 전 확인

In [84]:
grow_df = grow_df[['id', 'week', 'obj_num', 'flw_get', 'last_flw_get', 'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe']]

In [85]:
grow_df.info()
grow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1188 non-null   int64
 1   week          1188 non-null   int64
 2   obj_num       1188 non-null   int64
 3   flw_get       1188 non-null   int64
 4   last_flw_get  1144 non-null   float64
 5   height_pl     1188 non-null   float64
 6   num_leaf      1188 non-null   int64
 7   len_leaf      1188 non-null   float64
 8   width_leaf    1188 non-null   float64
 9   unit_len      1188 non-null   float64
 10  dim_pipe      1188 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 102.2 KB

,id,week,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,dim_pipe
0,11,4,1,0,NaN,20.8,7,10.3,8.4,7.5,13.30
1,11,4,2,0,NaN,18.4,7,8.7,7.3,6.5,12.31
2,11,4,3,0,NaN,21.2,6,11.6,8.6,7.8,12.56
3,11,4,4,0,NaN,24.6,6,11.4,9.3,9.1,12.88
4,11,5,1,0,0.0,21.1,6,11.1,8.2,7.9,13.36

In [86]:
env_df.info()
env_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 3 to 374
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               297 non-null    int64
 1   week             297 non-null    int64
 2   week_start_date  297 non-null    object
 3   temp_ex_day      296 non-null    float64
 4   temp_ex_night    296 non-null    float64
 5   sr_ex_day        297 non-null    float64
 6   sr_ex_night      297 non-null    float64
 7   temp_int_day     296 non-null    float64
 8   temp_int_night   296 non-null    float64
 9   hum_int_day      296 non-null    float64
 10  hum_int_night    296 non-null    float64
 11  CO2_day          296 non-null    float64
 12  CO2_night        296 non-null    float64
 13  soil_temp_day    296 non-null    float64
 14  soil_temp_night  296 non-null    float64
dtypes: float64(12), int64(2), object(1)
memory usage: 37.1+ KB

,id,week,week_start_date,temp_ex_day,temp_ex_night,sr_ex_day,sr_ex_night,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,soil_temp_day,soil_temp_night
3,11,4,2020.10.6 0:00,19.831061,13.555952,1.325444,0.0,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
4,11,5,2020.10.13 0:00,15.314640,7.020579,1.134286,0.0,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
5,11,6,2020.10.20 0:00,15.638961,6.553846,1.158442,0.0,19.337662,13.632967,42.935065,76.868132,553.448052,653.230769,15.831841,15.831841
6,11,7,2020.10.27 0:00,15.556331,7.417445,1.077224,0.0,20.582143,14.480426,48.524351,78.930632,534.663961,674.652816,15.831841,15.831841
7,11,8,2020.11.3 0:00,12.005195,4.250549,1.024286,0.0,20.132468,13.409890,52.000000,78.483516,508.642857,636.115385,16.120682,15.831190

생육 + 환경 join

In [87]:
# 생육, 환경 join
fin_df = pd.merge(left=grow_df, right=env_df, how="left", on=["id", "week"])

In [88]:
fin_df.columns

Index(['id', 'week', 'obj_num', 'flw_get', 'last_flw_get', 'height_pl',
       'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
       'week_start_date', 'temp_ex_day', 'temp_ex_night', 'sr_ex_day',
       'sr_ex_night', 'temp_int_day', 'temp_int_night', 'hum_int_day',
       'hum_int_night', 'CO2_day', 'CO2_night', 'soil_temp_day',
       'soil_temp_night'],
      dtype='object')

a 용

In [89]:
cols = ['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 
       'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe', 
       'temp_ex_day', 'temp_ex_night', 'sr_ex_day', 
       'temp_int_day', 'temp_int_night', 'hum_int_day',
       'hum_int_night', 'CO2_day', 'CO2_night', 'soil_temp_day', 'soil_temp_night']
fin_df = fin_df[cols]

In [90]:
fin_df.to_csv("./2020/최최종데이터_b.csv", encoding="ANSI", index=False)

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("./2020/최최종데이터_b.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1188 non-null   int64
 1   week             1188 non-null   int64
 2   week_start_date  1188 non-null   object
 3   obj_num          1188 non-null   int64
 4   flw_get          1188 non-null   int64
 5   height_pl        1188 non-null   float64
 6   num_leaf         1188 non-null   int64
 7   len_leaf         1188 non-null   float64
 8   width_leaf       1188 non-null   float64
 9   unit_len         1188 non-null   float64
 10  dim_pipe         1188 non-null   float64
 11  temp_ex_day      1184 non-null   float64
 12  temp_ex_night    1184 non-null   float64
 13  sr_ex_day        1188 non-null   float64
 14  temp_int_day     1184 non-null   float64
 15  temp_int_night   1184 non-null   float64
 16  hum_int_day      1184 non-null   float64
 17  hum_int_night    1184 non-null   float64
 18  CO2_day          1184 non-null   float64
 19  CO2_night        1184 non-null   float64
 20  soil_temp_day    1184 non-null   float64
 21  soil_temp_night  1184 non-null   float64
dtypes: float64(16), int64(5), object(1)
memory usage: 204.3+ KB

,id,week,week_start_date,obj_num,flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,...,temp_ex_night,sr_ex_day,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,soil_temp_day,soil_temp_night
0,11,4,2020.10.6 0:00,1,0,20.8,7,10.3,8.4,7.5,...,13.555952,1.325444,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
1,11,4,2020.10.6 0:00,2,0,18.4,7,8.7,7.3,6.5,...,13.555952,1.325444,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
2,11,4,2020.10.6 0:00,3,0,21.2,6,11.6,8.6,7.8,...,13.555952,1.325444,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
3,11,4,2020.10.6 0:00,4,0,24.6,6,11.4,9.3,9.1,...,13.555952,1.325444,20.776344,20.818849,35.358225,70.622711,497.438312,559.520147,15.831841,15.831841
4,11,5,2020.10.13 0:00,1,0,21.1,6,11.1,8.2,7.9,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841

In [93]:
# 정렬
df.sort_values(["id", "week", "obj_num"], inplace=True)

In [94]:
last_flw_get = []

for f in df["id"].unique() :
    # print(f)
    last_flw_get += [None] * 4
    for w in range(5, 31) :
        # print(w)
        last_flw_get += df[(df["id"]==f) & (df["week"]==(w-1))]["flw_get"].tolist()

df["last_flw_get"] = last_flw_get

In [95]:
df.columns

Index(['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 'height_pl',
       'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
       'temp_ex_day', 'temp_ex_night', 'sr_ex_day', 'temp_int_day',
       'temp_int_night', 'hum_int_day', 'hum_int_night', 'CO2_day',
       'CO2_night', 'soil_temp_day', 'soil_temp_night', 'last_flw_get'],
      dtype='object')

In [96]:
df = df[['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 'last_flw_get', 
        'height_pl','num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
        'temp_ex_day', 'temp_ex_night', 'sr_ex_day', 'temp_int_day',
        'temp_int_night', 'hum_int_day', 'hum_int_night', 'CO2_day',
        'CO2_night', 'soil_temp_day', 'soil_temp_night']]

In [97]:
df.tail(50)

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_ex_night,sr_ex_day,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,soil_temp_day,soil_temp_night
1138,49,18,2021-01-13 0:00,3,5,6.0,33.1,8,7.9,6.9,...,1.503218,0.999104,21.864935,10.453925,73.818442,94.419937,655.150649,999.802983,18.078701,13.729278
1139,49,18,2021-01-13 0:00,4,9,11.0,30.3,7,7.5,6.1,...,1.503218,0.999104,21.864935,10.453925,73.818442,94.419937,655.150649,999.802983,18.078701,13.729278
1140,49,19,2021-01-20 0:00,1,11,10.0,24.8,11,7.8,6.6,...,6.980602,0.545089,18.933117,11.837132,83.831905,95.642391,698.938095,1018.741026,16.527330,14.073789
1141,49,19,2021-01-20 0:00,2,7,6.0,30.3,6,7.2,5.6,...,6.980602,0.545089,18.933117,11.837132,83.831905,95.642391,698.938095,1018.741026,16.527330,14.073789
1142,49,19,2021-01-20 0:00,3,6,5.0,33.1,8,8.0,6.9,...,6.980602,0.545089,18.933117,11.837132,83.831905,95.642391,698.938095,1018.741026,16.527330,14.073789
1143,49,19,2021-01-20 0:00,4,8,9.0,30.5,7,7.7,6.4,...,6.980602,0.545089,18.933117,11.837132,83.831905,95.642391,698.938095,1018.741026,16.527330,14.073789
1144,49,20,2021-01-27 0:00,1,13,11.0,25.0,11,8.1,6.7,...,2.321821,1.089662,21.532597,10.982261,70.850519,94.179199,593.098701,907.511774,18.477143,13.960911
1145,49,20,2021-01-27 0:00,2,7,7.0,30.5,7,5.4,4.5,...,2.321821,1.089662,21.532597,10.982261,70.850519,94.179199,593.098701,907.511774,18.477143,13.960911
1146,49,20,2021-01-27 0:00,3,8,6.0,33.3,8,8.3,7.1,...,2.321821,1.089662,21.532597,10.982261,70.850519,94.179199,593.098701,907.511774,18.477143,13.960911
1147,49,20,2021-01-27 0:00,4,8,8.0,30.5,8,5.4,4.2,...,2.321821,1.089662,21.532597,10.982261,70.850519,94.179199,593.098701,907.511774,18.477143,13.960911
1148,49,21,2021-02-03 0:00,1,13,13.0,25.2,11,8.3,6.8,...,2.190110,1.272078,22.253247,10.887912,64.593506,93.796703,609.116883,924.780220,19.474026,14.554945
1149,49,21,2021-02-03 0:00,2,8,7.0,30.7,7,5.7,4.7,...,2.190110,1.272078,22.253247,10.887912,64.593506,93.796703,609.116883,924.780220,19.474026,14.554945
1150,49,21,2021-02-03 0:00,3,9,8.0,33.3,8,8.5,7.3,...,2.190110,1.272078,22.253247,10.887912,64.593506,93.796703,609.116883,924.780220,19.474026,14.554945
1151,49,21,2021-02-03 0:00,4,8,8.0,30.7,8,5.6,4.5,...,2.190110,1.272078,22.253247,10.887912,64.593506,93.796703,609.116883,924.780220,19.474026,14.554945
1152,49,22,2021-02-10 0:00,1,13,13.0,24.8,10,8.4,6.8,...,5.425275,1.154286,21.629870,11.801099,64.680519,93.065934,647.129870,956.571429,20.049351,15.145055
1153,49,22,2021-02-10 0:00,2,9,8.0,31.0,7,5.9,4.8,...,5.425275,1.154286,21.629870,11.801099,64.680519,93.065934,647.129870,956.571429,20.049351,15.145055
1154,49,22,2021-02-10 0:00,3,7,9.0,27.7,7,8.8,7.5,...,5.425275,1.154286,21.629870,11.801099,64.680519,93.065934,647.129870,956.571429,20.049351,15.145055
1155,49,22,2021-02-10 0:00,4,8,8.0,32.0,7,5.9,4.7,...,5.425275,1.154286,21.629870,11.801099,64.680519,93.065934,647.129870,956.571429,20.049351,15.145055
1156,49,23,2021-02-17 0:00,1,11,13.0,25.0,10,8.6,6.9,...,4.345055,1.458571,21.272727,11.573626,54.441558,89.759341,560.506494,819.164835,21.600000,14.906593
1157,49,23,2021-02-17 0:00,2,12,9.0,31.2,7,6.1,5.0,...,4.345055,1.458571,21.272727,11.573626,54.441558,89.759341,560.506494,819.164835,21.600000,14.906593
1158,49,23,2021-02-17 0:00,3,9,7.0,27.9,7,8.9,7.7,...,4.345055,1.458571,21.272727,11.573626,54.441558,89.759341,560.506494,819.164835,21.600000,14.906593
1159,49,23,2021-02-17 0:00,4,8,8.0,32.1,7,6.2,4.9,...,4.345055,1.458571,21.272727,11.573626,54.441558,89.759341,560.506494,819.164835,21.600000,14.906593
1160,49,24,2021-02-24 0:00,1,7,11.0,25.3,10,8.8,7.1,...,6.408006,0.700041,18.926797,11.903519,77.182641,92.727172,568.236580,824.068158,17.942749,14.411081
1161,49,24,2021-02-24 0:00,2,12,12.0,31.4,7,6.3,5.3,...,6.408006,0.700041,18.926797,11.903519,77.182641,92.727172,568.236580,824.068158,17.942749,14.411081
1162,49,24,2021-02-24 0:00,3,10,9.0,28.1,7,9.0,7.8,...,6.408006,0.700041,18.926797,11.903519,77.182641,92.727172,568.236580,824.068158,17.942749,14.411081
1163,49,24,2021-02-24 0:00,4,7,8.0,32.3,7,6.3,5.2,...,6.408006,0.700041,18.926797,11.903519,77.182641,92.727172,568.236580,824.068158,17.942749,14.411081
1164,49,25,2021-03-03 0:00,1,3,7.0,20.0,5,8.9,7.2,...,6.209053,1.031665,21.435390,12.020487,69.859740,93.673234,550.292424,820.821298,20.420195,14.875275
1165,49,25,2021-03-03 0:00,2,7,12.0,32.0,6,6.5,5.5,...,6.209053,1.031665,21.435390,12.020487,69.859740,93.673234,550.292424,820.821298,20.420195,14.875275
1166,49,25,2021-03-03 0:00,3,10,10.0,23.1,5,9.0,7.9,...,6.209053,1.031665,21.435390,12.020487,69.859740,93.673234,550.292424,820.821298,20.420195,14.875275
1167,49,25,2021-03-03 0:00,4,2,7.0,28.2,6,6.5,5.3,...,6.209053,1.031665,21.435390,12.020487,69.859740,93.673234,550.292424,820.821298,20.420195,14.875275
1168,49,26,2021-03-10 0:00,1,2,3.0,20.5,7,3.6,3.0,...,9.461172,1.166845,20.921162,12.361855,61.111880,88.329079,630.877789,847.813770,20.618690,15.810298
1169,49,26,2021-03-10 0:00,2,6,7.0,32.3,6,6.7,5.8,...,9.461172,1.166845,20.921162,12.361855,61.111880,88.329079,630.877789,847.813770,20.618690,15.810298
1170,49,26,2021-03-10 0:00,3,8,10.0,23.5,5,9.3,8.2,...,9.461172,1.166845,20.921162,12.361855,61.111880,88.329079,630.877789,847.813770,20.618690,15.810298
1171,49,26,2021-03-10 0:00,4,2,2.0,29.4,6,6.7,5.7,...,9.461172,1.166845,20.921162,12.361855,61.111880,88.329079,630.877789,847.813770,20.618690,15.810298
1172,49,27,2021-03-17 0:00,1,0,2.0,20.8,8,3.2,2.5,...,9.322294,1.139432,21.207509,13.336905,62.870147,90.136147,567.099817,806.887446,20.767308,16.426623
1173,49,27,2021-03-17 0:00,2,3,6.0,32.8,7,5.4,4.2,...,9.322294,1.139432,21.207509,13.336905,62.870147,90.136147,567.099817,806.887446,20.767308,16.426623
1174,49,27,2021-03-17 0:00,3,8,8.0,24.7,6,8.2,6.5,...,9.322294,1.139432,21.207509,13.336905,62.870147,90.136147,567.099817,806.887446,20.767308,16.426623
1175,49,27,2021-03-17 0:00,4,1,2.0,30.2,8,5.4,3.5,...,9.322294,1.139432,21.207509,13.336905,62.870147,90.136147,567.099817,806.887446,20.767308,16.426623
1176,49,28,2021-03-24 0:00,1,0,0.0,22.5,9,2.8,2.1,...,13.273810,1.378690,22.744505,14.737771,50.367125,89.381494,565.908425,836.138528,22.591667,18.025974
1177,49,28,2021-03-24 0:00,2,1,3.0,33.2,7,6.2,5.4,...,13.273810,1.378690,22.744505,14.737771,50.367125,89.381494,565.908425,836.138528,22.591667,18.025974
1178,49,28,2021-03-24 0:00,3,3,8.0,26.5,6,8.5,6.8,...,13.273810,1.378690,22.744505,14.737771,50.367125,89.381494,565.908425,836.138528,22.591667,18.025974
1179,49,28,2021-03-24 0:00,4,0,1.0,31.8,9,3.5,2.8,...,13.273810,1.378690,22.744505,14.737771,50.367125,89.381494,565.908425,836.138528,22.591667,18.025974
1180,49,29,2021-03-31 0:00,1,1,0.0,24.6,10,2.5,2.0,...,10.629004,1.170540,20.831502,13.529870,65.775092,90.762229,548.808608,801.032468,20.245971,16.521970
1181,49,29,2021-03-31 0:00,2,1,1.0,33.8,8,5.4,4.9,...,10.629004,1.170540,20.831502,13.529870,65.775092,90.762229,548.808608,801.032468,20.245971,16.521970
1182,49,29,2021-03-31 0:00,3,1,3.0,27.2,7,7.5,6.3,...,10.629004,1.170540,20.831502,13.529870,65.775092,90.762229,548.808608,801.032468,20.245971,16.521970
1183,49,29,2021-03-31 0:00,4,0,0.0,32.3,10,3.3,2.5,...,10.629004,1.170540,20.831502,13.529870,65.775092,90.762229,548.808608,801.032468,20.245971,16.521970
1184,49,30,2021-04-07 0:00,1,3,1.0,25.2,10,2.8,2.4,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1185,49,30,2021-04-07 0:00,2,2,1.0,34.5,8,5.9,5.1,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1186,49,30,2021-04-07 0:00,3,3,1.0,27.8,7,8.1,6.8,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1187,49,30,2021-04-07 0:00,4,1,0.0,33.2,10,3.8,2.9,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082

In [98]:
fin_df = df.dropna()
fin_df

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_ex_night,sr_ex_day,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,soil_temp_day,soil_temp_night
4,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
5,11,5,2020.10.13 0:00,2,0,0.0,19.5,5,10.5,8.0,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
6,11,5,2020.10.13 0:00,3,0,0.0,21.0,5,10.7,9.6,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
7,11,5,2020.10.13 0:00,4,0,0.0,26.1,5,12.8,10.2,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
8,11,6,2020.10.20 0:00,1,0,0.0,20.1,6,11.6,9.2,...,6.553846,1.158442,19.337662,13.632967,42.935065,76.868132,553.448052,653.230769,15.831841,15.831841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,49,29,2021-03-31 0:00,4,0,0.0,32.3,10,3.3,2.5,...,10.629004,1.170540,20.831502,13.529870,65.775092,90.762229,548.808608,801.032468,20.245971,16.521970
1184,49,30,2021-04-07 0:00,1,3,1.0,25.2,10,2.8,2.4,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1185,49,30,2021-04-07 0:00,2,2,1.0,34.5,8,5.9,5.1,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1186,49,30,2021-04-07 0:00,3,3,1.0,27.8,7,8.1,6.8,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082
1187,49,30,2021-04-07 0:00,4,1,0.0,33.2,10,3.8,2.9,...,11.231061,1.432784,21.581685,13.532359,61.864835,90.070455,488.778388,790.717532,21.049359,16.776082

In [99]:
fin_df.to_csv("./2020/최최종데이터_b_지난주추가.csv", index=False)

푸리에

In [100]:
import pandas as pd

df = pd.read_csv("./2020/최최종데이터_b_지난주추가.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1144 non-null   int64
 1   week             1144 non-null   int64
 2   week_start_date  1144 non-null   object
 3   obj_num          1144 non-null   int64
 4   flw_get          1144 non-null   int64
 5   last_flw_get     1144 non-null   float64
 6   height_pl        1144 non-null   float64
 7   num_leaf         1144 non-null   int64
 8   len_leaf         1144 non-null   float64
 9   width_leaf       1144 non-null   float64
 10  unit_len         1144 non-null   float64
 11  dim_pipe         1144 non-null   float64
 12  temp_ex_day      1144 non-null   float64
 13  temp_ex_night    1144 non-null   float64
 14  sr_ex_day        1144 non-null   float64
 15  temp_int_day     1144 non-null   float64
 16  temp_int_night   1144 non-null   float64
 17  hum_int_day      1144 non-null   float64
 18  hum_int_night    1144 non-null   float64
 19  CO2_day          1144 non-null   float64
 20  CO2_night        1144 non-null   float64
 21  soil_temp_day    1144 non-null   float64
 22  soil_temp_night  1144 non-null   float64
dtypes: float64(17), int64(5), object(1)
memory usage: 205.7+ KB

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_ex_night,sr_ex_day,temp_int_day,temp_int_night,hum_int_day,hum_int_night,CO2_day,CO2_night,soil_temp_day,soil_temp_night
0,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
1,11,5,2020.10.13 0:00,2,0,0.0,19.5,5,10.5,8.0,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
2,11,5,2020.10.13 0:00,3,0,0.0,21.0,5,10.7,9.6,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
3,11,5,2020.10.13 0:00,4,0,0.0,26.1,5,12.8,10.2,...,7.020579,1.134286,20.316862,15.239040,39.064935,74.813187,501.681818,626.093407,15.831841,15.831841
4,11,6,2020.10.20 0:00,1,0,0.0,20.1,6,11.6,9.2,...,6.553846,1.158442,19.337662,13.632967,42.935065,76.868132,553.448052,653.230769,15.831841,15.831841

In [101]:
import numpy as np

# Fourier Features
df['week_sin'] = np.sin(2 * np.pi * df['week']/26.0)
df['week_cos'] = np.cos(2 * np.pi * df['week']/26.0)

In [102]:
df = df[['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 'week_sin', 'week_cos', 'last_flw_get', 
        'height_pl','num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
        'temp_ex_day', 'temp_ex_night', 'sr_ex_day', 'temp_int_day',
        'temp_int_night', 'hum_int_day', 'hum_int_night', 'CO2_day',
        'CO2_night', 'soil_temp_day', 'soil_temp_night']]

In [103]:
df.to_csv("./2020/최최종데이터_b_지난주추가_푸리에추가.csv", index=False)