### type A 최종 데이터셋 구축 (환경 + 생육)

In [88]:
import pandas as pd

#### 환경

In [89]:
env_df = pd.read_csv("./2020/환경데이터_최최종_주별_a.csv", encoding="ANSI")
env_df.info()
env_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               432 non-null    int64
 1   week             432 non-null    int64
 2   week_start_date  432 non-null    object
 3   temp_ex_max      426 non-null    float64
 4   temp_ex_min      426 non-null    float64
 5   temp_ex_mean     426 non-null    float64
 6   s_am_max         432 non-null    float64
 7   s_am_min         432 non-null    float64
 8   s_am_mean        432 non-null    float64
 9   temp_int_max     426 non-null    float64
 10  temp_int_min     426 non-null    float64
 11  temp_int_mean    426 non-null    float64
 12  hum_int_max      426 non-null    float64
 13  hum_int_min      426 non-null    float64
 14  hum_int_mean     426 non-null    float64
 15  CO2_max          426 non-null    float64
 16  CO2_min          426 non-null    float64
 17  CO2_mean         426 non-null    float64
 18  st_max           426 non-null    float64
 19  st_min           426 non-null    float64
 20  st_mean          426 non-null    float64
dtypes: float64(18), int64(2), object(1)
memory usage: 71.0+ KB

,id,week,week_start_date,temp_ex_max,temp_ex_min,temp_ex_mean,s_am_max,s_am_min,s_am_mean,temp_int_max,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,st_max,st_min,st_mean
0,11,1,2020.9.15 0:00,26.014286,14.800000,20.001786,2.305714,0.020000,0.629167,27.571429,...,21.647024,94.285714,41.285714,71.607143,619.209302,478.498339,517.035714,15.831841,15.831841,15.831841
1,11,2,2020.9.22 0:00,25.771429,13.785714,19.422619,2.765714,0.015714,0.744940,26.941109,...,22.778345,86.285714,16.714286,56.937500,888.714286,434.285714,514.053571,15.831841,15.831841,15.831841
2,11,3,2020.9.29 0:00,24.628571,12.900000,18.129762,2.494286,0.030000,0.560060,24.073441,...,23.863626,90.571429,18.428571,62.595238,882.428571,435.000000,558.377976,15.831841,15.831841,15.831841
3,11,4,2020.10.6 0:00,23.357143,10.542857,16.576786,2.495714,0.038571,0.643095,21.008314,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
4,11,5,2020.10.13 0:00,18.542857,4.271429,10.822024,2.088571,0.077143,0.519881,24.322402,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841

52번 임시삭제

In [90]:
idx = env_df[env_df["id"] == 52].index

env_df.drop(idx, inplace=True)

In [91]:
env_df.tail()

,id,week,week_start_date,temp_ex_max,temp_ex_min,temp_ex_mean,s_am_max,s_am_min,s_am_mean,temp_int_max,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,st_max,st_min,st_mean
376,49,32,2021-04-21 0:00,17.642857,11.500000,14.719643,3.024286,0.094286,0.882560,27.842857,...,18.582143,86.328571,39.171429,66.314286,802.142857,477.571429,628.571429,26.314286,15.228571,19.832738
377,49,33,2021-04-28 0:00,20.342857,12.271429,16.086310,2.957143,0.050000,0.816190,26.476190,...,18.434524,86.285714,39.362286,65.019048,705.428571,433.000000,546.494048,26.461905,15.598286,19.768452
378,49,34,2021-05-05 0:00,23.000000,13.614286,18.083333,2.885714,0.044286,0.879286,28.585714,...,20.011310,84.600000,32.928571,58.016667,630.428571,431.428571,523.767857,27.571429,16.400000,21.096429
379,49,35,2021-05-12 0:00,19.100000,13.757143,16.277381,2.062857,0.014286,0.574583,26.185714,...,19.267262,91.914286,64.600000,81.704762,670.142857,498.000000,584.291667,24.542857,16.271429,19.947619
380,49,36,2021-05-19 0:00,23.150000,16.650000,19.487500,1.975000,0.035000,0.630208,29.200000,...,21.022917,91.100000,52.700000,73.277083,678.500000,480.000000,588.729167,28.100000,18.100000,22.195833

In [92]:
# 4 ~ 30주차만 가져오기
env_df = env_df[(env_df["week"] > 3) & (env_df["week"] < 31)]

In [93]:
env_df.columns

Index(['id', 'week', 'week_start_date', 'temp_ex_max', 'temp_ex_min',
       'temp_ex_mean', 's_am_max', 's_am_min', 's_am_mean', 'temp_int_max',
       'temp_int_min', 'temp_int_mean', 'hum_int_max', 'hum_int_min',
       'hum_int_mean', 'CO2_max', 'CO2_min', 'CO2_mean', 'st_max', 'st_min',
       'st_mean'],
      dtype='object')

In [94]:
# merge 용 컬럼 영문명으로 변경
env_df.rename(columns = {"s_am_max" : "sr_ex_max", "s_am_min" : "sr_ex_min", "s_am_mean" : "sr_ex_mean",
                        "st_max" : "soil_temp_max", "st_min" : "soil_temp_min", "st_mean" : "soil_temp_mean"}, inplace = True)

In [95]:
env_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 3 to 374
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               297 non-null    int64
 1   week             297 non-null    int64
 2   week_start_date  297 non-null    object
 3   temp_ex_max      296 non-null    float64
 4   temp_ex_min      296 non-null    float64
 5   temp_ex_mean     296 non-null    float64
 6   sr_ex_max        297 non-null    float64
 7   sr_ex_min        297 non-null    float64
 8   sr_ex_mean       297 non-null    float64
 9   temp_int_max     296 non-null    float64
 10  temp_int_min     296 non-null    float64
 11  temp_int_mean    296 non-null    float64
 12  hum_int_max      296 non-null    float64
 13  hum_int_min      296 non-null    float64
 14  hum_int_mean     296 non-null    float64
 15  CO2_max          296 non-null    float64
 16  CO2_min          296 non-null    float64
 17  CO2_mean         296 non-null    float64
 18  soil_temp_max    296 non-null    float64
 19  soil_temp_min    296 non-null    float64
 20  soil_temp_mean   296 non-null    float64
dtypes: float64(18), int64(2), object(1)
memory usage: 51.0+ KB

#### 생육 데이터

In [96]:
grow_df = pd.read_csv("./2020/생육데이터_스무딩_완료.csv", encoding="ANSI")
grow_df.info()
grow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1188 non-null   int64
 1   week             1188 non-null   int64
 2   week_start_date  1188 non-null   object
 3   obj_num          1188 non-null   int64
 4   flw_get          1188 non-null   int64
 5   last_flw_get     1144 non-null   float64
 6   height_pl        1188 non-null   float64
 7   num_leaf         1188 non-null   int64
 8   len_leaf         1188 non-null   float64
 9   width_leaf       1188 non-null   float64
 10  unit_len         1188 non-null   float64
 11  dim_pipe         1188 non-null   float64
dtypes: float64(6), int64(5), object(1)
memory usage: 111.5+ KB

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,dim_pipe
0,11,4,2020.10.6 0:00,1,0,NaN,20.8,7,10.3,8.4,7.5,13.30
1,11,4,2020.10.6 0:00,2,0,NaN,18.4,7,8.7,7.3,6.5,12.31
2,11,4,2020.10.6 0:00,3,0,NaN,21.2,6,11.6,8.6,7.8,12.56
3,11,4,2020.10.6 0:00,4,0,NaN,24.6,6,11.4,9.3,9.1,12.88
4,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,7.9,13.36

In [97]:
# # 사용할 컬럼만
# grow_col = ["농가명", "week", "개체번호", "초장", "엽수", "엽장", "엽폭", "엽병장", "관부직경", "화방별착과수"]

# grow_df = grow_df[grow_col]

In [98]:
# grow_df = grow_df[(grow_df["week"] > 3) & (grow_df["week"] < 31)]

In [99]:
# merge 용 컬럼 영문명으로 변경
grow_df.rename(columns = {"농가명" : "id", "개체번호" : "obj_num", "초장" : "height_pl", "엽수" : "num_leaf", "엽장" : "len_leaf", "엽폭" : "width_leaf", "엽병장" : "unit_len", "관부직경" : "dim_pipe", "화방별착과수" : "flw_get"}, inplace = True)

#### Merge 진행

merge 전 확인

In [100]:
grow_df = grow_df[['id', 'week', 'obj_num', 'flw_get', 'last_flw_get', 'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe']]

In [101]:
grow_df.info()
grow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1188 non-null   int64
 1   week          1188 non-null   int64
 2   obj_num       1188 non-null   int64
 3   flw_get       1188 non-null   int64
 4   last_flw_get  1144 non-null   float64
 5   height_pl     1188 non-null   float64
 6   num_leaf      1188 non-null   int64
 7   len_leaf      1188 non-null   float64
 8   width_leaf    1188 non-null   float64
 9   unit_len      1188 non-null   float64
 10  dim_pipe      1188 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 102.2 KB

,id,week,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,dim_pipe
0,11,4,1,0,NaN,20.8,7,10.3,8.4,7.5,13.30
1,11,4,2,0,NaN,18.4,7,8.7,7.3,6.5,12.31
2,11,4,3,0,NaN,21.2,6,11.6,8.6,7.8,12.56
3,11,4,4,0,NaN,24.6,6,11.4,9.3,9.1,12.88
4,11,5,1,0,0.0,21.1,6,11.1,8.2,7.9,13.36

In [102]:
env_df.info()
env_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 3 to 374
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               297 non-null    int64
 1   week             297 non-null    int64
 2   week_start_date  297 non-null    object
 3   temp_ex_max      296 non-null    float64
 4   temp_ex_min      296 non-null    float64
 5   temp_ex_mean     296 non-null    float64
 6   sr_ex_max        297 non-null    float64
 7   sr_ex_min        297 non-null    float64
 8   sr_ex_mean       297 non-null    float64
 9   temp_int_max     296 non-null    float64
 10  temp_int_min     296 non-null    float64
 11  temp_int_mean    296 non-null    float64
 12  hum_int_max      296 non-null    float64
 13  hum_int_min      296 non-null    float64
 14  hum_int_mean     296 non-null    float64
 15  CO2_max          296 non-null    float64
 16  CO2_min          296 non-null    float64
 17  CO2_mean         296 non-null    float64
 18  soil_temp_max    296 non-null    float64
 19  soil_temp_min    296 non-null    float64
 20  soil_temp_mean   296 non-null    float64
dtypes: float64(18), int64(2), object(1)
memory usage: 51.0+ KB

,id,week,week_start_date,temp_ex_max,temp_ex_min,temp_ex_mean,sr_ex_max,sr_ex_min,sr_ex_mean,temp_int_max,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
3,11,4,2020.10.6 0:00,23.357143,10.542857,16.576786,2.495714,0.038571,0.643095,21.008314,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
4,11,5,2020.10.13 0:00,18.542857,4.271429,10.822024,2.088571,0.077143,0.519881,24.322402,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
5,11,6,2020.10.20 0:00,19.242857,3.542857,10.717857,2.045714,0.052857,0.530952,23.357143,...,16.247619,83.000000,25.857143,61.315476,1150.285714,436.714286,607.497024,15.831841,15.831841,15.831841
6,11,7,2020.10.27 0:00,19.185714,3.442857,11.139286,1.982857,0.035714,0.490179,23.871429,...,17.241667,85.571429,28.428571,65.071429,1098.714286,402.857143,611.645833,15.831841,15.831841,15.831841
7,11,8,2020.11.3 0:00,15.528571,0.628571,7.804762,1.932857,0.014286,0.469464,24.785714,...,16.491071,89.285714,27.285714,66.345238,1024.571429,372.571429,577.690476,16.784435,15.784435,15.963874

생육 + 환경 join

In [103]:
# 생육, 환경 join
fin_df = pd.merge(left=grow_df, right=env_df, how="left", on=["id", "week"])

In [104]:
fin_df.columns

Index(['id', 'week', 'obj_num', 'flw_get', 'last_flw_get', 'height_pl',
       'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
       'week_start_date', 'temp_ex_max', 'temp_ex_min', 'temp_ex_mean',
       'sr_ex_max', 'sr_ex_min', 'sr_ex_mean', 'temp_int_max', 'temp_int_min',
       'temp_int_mean', 'hum_int_max', 'hum_int_min', 'hum_int_mean',
       'CO2_max', 'CO2_min', 'CO2_mean', 'soil_temp_max', 'soil_temp_min',
       'soil_temp_mean'],
      dtype='object')

a 용

In [105]:
cols = ['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 
       'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe', 
       'temp_ex_max', 'temp_ex_min', 'temp_ex_mean', 
       'sr_ex_max', 'sr_ex_min', 'sr_ex_mean',
       'temp_int_max', 'temp_int_min', 'temp_int_mean',
       'hum_int_max', 'hum_int_min', 'hum_int_mean', 'CO2_max', 'CO2_min',
       'CO2_mean', 'soil_temp_max', 'soil_temp_min', 'soil_temp_mean']
fin_df = fin_df[cols]

In [106]:
fin_df.to_csv("./2020/최최종데이터_a.csv", encoding="ANSI", index=False)

### 최종데이터에 전날 착과수 추가하는 코드

In [107]:
import pandas as pd

In [108]:
df = pd.read_csv("./2020/최최종데이터_a.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1188 non-null   int64
 1   week             1188 non-null   int64
 2   week_start_date  1188 non-null   object
 3   obj_num          1188 non-null   int64
 4   flw_get          1188 non-null   int64
 5   height_pl        1188 non-null   float64
 6   num_leaf         1188 non-null   int64
 7   len_leaf         1188 non-null   float64
 8   width_leaf       1188 non-null   float64
 9   unit_len         1188 non-null   float64
 10  dim_pipe         1188 non-null   float64
 11  temp_ex_max      1184 non-null   float64
 12  temp_ex_min      1184 non-null   float64
 13  temp_ex_mean     1184 non-null   float64
 14  sr_ex_max        1188 non-null   float64
 15  sr_ex_min        1188 non-null   float64
 16  sr_ex_mean       1188 non-null   float64
 17  temp_int_max     1184 non-null   float64
 18  temp_int_min     1184 non-null   float64
 19  temp_int_mean    1184 non-null   float64
 20  hum_int_max      1184 non-null   float64
 21  hum_int_min      1184 non-null   float64
 22  hum_int_mean     1184 non-null   float64
 23  CO2_max          1184 non-null   float64
 24  CO2_min          1184 non-null   float64
 25  CO2_mean         1184 non-null   float64
 26  soil_temp_max    1184 non-null   float64
 27  soil_temp_min    1184 non-null   float64
 28  soil_temp_mean   1184 non-null   float64
dtypes: float64(23), int64(5), object(1)
memory usage: 269.3+ KB

,id,week,week_start_date,obj_num,flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
0,11,4,2020.10.6 0:00,1,0,20.8,7,10.3,8.4,7.5,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
1,11,4,2020.10.6 0:00,2,0,18.4,7,8.7,7.3,6.5,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
2,11,4,2020.10.6 0:00,3,0,21.2,6,11.6,8.6,7.8,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
3,11,4,2020.10.6 0:00,4,0,24.6,6,11.4,9.3,9.1,...,20.798499,86.000000,17.428571,53.648810,1102.285714,430.571429,530.294643,15.831841,15.831841,15.831841
4,11,5,2020.10.13 0:00,1,0,21.1,6,11.1,8.2,7.9,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841

In [109]:
df.tail(8)

,id,week,week_start_date,obj_num,flw_get,height_pl,num_leaf,len_leaf,width_leaf,unit_len,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
1180,49,29,2021-03-31 0:00,1,1,24.6,10,2.5,2.0,8.2,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1181,49,29,2021-03-31 0:00,2,1,33.8,8,5.4,4.9,10.5,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1182,49,29,2021-03-31 0:00,3,1,27.2,7,7.5,6.3,13.7,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1183,49,29,2021-03-31 0:00,4,0,32.3,10,3.3,2.5,7.7,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1184,49,30,2021-04-07 0:00,1,3,25.2,10,2.8,2.4,8.7,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1185,49,30,2021-04-07 0:00,2,2,34.5,8,5.9,5.1,10.9,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1186,49,30,2021-04-07 0:00,3,3,27.8,7,8.1,6.8,14.5,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1187,49,30,2021-04-07 0:00,4,1,33.2,10,3.8,2.9,8.2,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619

In [110]:
# 정렬
df.sort_values(["id", "week", "obj_num"], inplace=True)

In [111]:
last_flw_get = []

for f in df["id"].unique() :
    # print(f)
    last_flw_get += [None] * 4
    for w in range(5, 31) :
        # print(w)
        last_flw_get += df[(df["id"]==f) & (df["week"]==(w-1))]["flw_get"].tolist()

df["last_flw_get"] = last_flw_get

In [112]:
df = df[['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 'last_flw_get', 
       'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
       'temp_ex_max', 'temp_ex_min', 'temp_ex_mean', 'sr_ex_max', 'sr_ex_min',
       'sr_ex_mean', 'temp_int_max', 'temp_int_min', 'temp_int_mean',
       'hum_int_max', 'hum_int_min', 'hum_int_mean', 'CO2_max', 'CO2_min',
       'CO2_mean', 'soil_temp_max', 'soil_temp_min', 'soil_temp_mean']]

In [ ]:
temp_ex_max, temp_ex_min, temp_ex_mean, sr_ex_max, sr_ex_min, sr_ex_mean, temp_int_max, temp_int_min, temp_int_mean,
hum_int_max, hum_int_min, hum_int_mean, CO2_max, CO2_min,
       CO2_mean, soil_temp_max, soil_temp_min, soil_temp_mean

In [ ]:
External Temperature(단위) day, night, Amount of Solar Radiation(단위) day, night, Interternal Temperature(단위) day, night, Interternal Temperature(단위) day, night, Internal Humidity(%) day, night, Internal CO2(ppm) day, night, Soil Temperature(단위) day, night

In [113]:
df.tail(50)

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
1138,49,18,2021-01-13 0:00,3,5,6.0,33.1,8,7.9,6.9,...,15.636310,95.885714,51.785714,85.046429,1114.000000,481.142857,843.934524,21.814286,11.828571,15.704762
1139,49,18,2021-01-13 0:00,4,9,11.0,30.3,7,7.5,6.1,...,15.636310,95.885714,51.785714,85.046429,1114.000000,481.142857,843.934524,21.814286,11.828571,15.704762
1140,49,19,2021-01-20 0:00,1,11,10.0,24.8,11,7.8,6.6,...,14.886905,97.185714,69.085714,90.492262,1166.142857,553.000000,884.952381,18.885714,12.600000,15.138095
1141,49,19,2021-01-20 0:00,2,7,6.0,30.3,6,7.2,5.6,...,14.886905,97.185714,69.085714,90.492262,1166.142857,553.000000,884.952381,18.885714,12.600000,15.138095
1142,49,19,2021-01-20 0:00,3,6,5.0,33.1,8,8.0,6.9,...,14.886905,97.185714,69.085714,90.492262,1166.142857,553.000000,884.952381,18.885714,12.600000,15.138095
1143,49,19,2021-01-20 0:00,4,8,9.0,30.5,7,7.7,6.4,...,14.886905,97.185714,69.085714,90.492262,1166.142857,553.000000,884.952381,18.885714,12.600000,15.138095
1144,49,20,2021-01-27 0:00,1,13,11.0,25.0,11,8.1,6.7,...,15.779167,95.842857,46.242857,83.558333,1033.857143,449.428571,765.702381,22.142857,12.228571,16.014881
1145,49,20,2021-01-27 0:00,2,7,7.0,30.5,7,5.4,4.5,...,15.779167,95.842857,46.242857,83.558333,1033.857143,449.428571,765.702381,22.142857,12.228571,16.014881
1146,49,20,2021-01-27 0:00,3,8,6.0,33.3,8,8.3,7.1,...,15.779167,95.842857,46.242857,83.558333,1033.857143,449.428571,765.702381,22.142857,12.228571,16.014881
1147,49,20,2021-01-27 0:00,4,8,8.0,30.5,8,5.4,4.2,...,15.779167,95.842857,46.242857,83.558333,1033.857143,449.428571,765.702381,22.142857,12.228571,16.014881
1148,49,21,2021-02-03 0:00,1,13,13.0,25.2,11,8.3,6.8,...,16.097024,95.285714,40.171429,80.411905,1030.714286,476.857143,780.101190,22.900000,12.514286,16.809524
1149,49,21,2021-02-03 0:00,2,8,7.0,30.7,7,5.7,4.7,...,16.097024,95.285714,40.171429,80.411905,1030.714286,476.857143,780.101190,22.900000,12.514286,16.809524
1150,49,21,2021-02-03 0:00,3,9,8.0,33.3,8,8.5,7.3,...,16.097024,95.285714,40.171429,80.411905,1030.714286,476.857143,780.101190,22.900000,12.514286,16.809524
1151,49,21,2021-02-03 0:00,4,8,8.0,30.7,8,5.6,4.5,...,16.097024,95.285714,40.171429,80.411905,1030.714286,476.857143,780.101190,22.900000,12.514286,16.809524
1152,49,22,2021-02-10 0:00,1,13,13.0,24.8,10,8.4,6.8,...,16.305952,95.014286,40.642857,80.055952,1103.142857,527.857143,814.744048,24.171429,13.185714,17.392857
1153,49,22,2021-02-10 0:00,2,9,8.0,31.0,7,5.9,4.8,...,16.305952,95.014286,40.642857,80.055952,1103.142857,527.857143,814.744048,24.171429,13.185714,17.392857
1154,49,22,2021-02-10 0:00,3,7,9.0,27.7,7,8.8,7.5,...,16.305952,95.014286,40.642857,80.055952,1103.142857,527.857143,814.744048,24.171429,13.185714,17.392857
1155,49,22,2021-02-10 0:00,4,8,8.0,32.0,7,5.9,4.7,...,16.305952,95.014286,40.642857,80.055952,1103.142857,527.857143,814.744048,24.171429,13.185714,17.392857
1156,49,23,2021-02-17 0:00,1,11,13.0,25.0,10,8.6,6.9,...,16.019048,93.228571,33.828571,73.572024,914.714286,477.142857,700.613095,27.542857,12.457143,17.974405
1157,49,23,2021-02-17 0:00,2,12,9.0,31.2,7,6.1,5.0,...,16.019048,93.228571,33.828571,73.572024,914.714286,477.142857,700.613095,27.542857,12.457143,17.974405
1158,49,23,2021-02-17 0:00,3,9,7.0,27.9,7,8.9,7.7,...,16.019048,93.228571,33.828571,73.572024,914.714286,477.142857,700.613095,27.542857,12.457143,17.974405
1159,49,23,2021-02-17 0:00,4,8,8.0,32.1,7,6.2,4.9,...,16.019048,93.228571,33.828571,73.572024,914.714286,477.142857,700.613095,27.542857,12.457143,17.974405
1160,49,24,2021-02-24 0:00,1,7,11.0,25.3,10,8.8,7.1,...,15.107143,95.400000,61.657143,85.704167,956.428571,463.142857,707.125000,21.328571,13.014286,16.017857
1161,49,24,2021-02-24 0:00,2,12,12.0,31.4,7,6.3,5.3,...,15.107143,95.400000,61.657143,85.704167,956.428571,463.142857,707.125000,21.328571,13.014286,16.017857
1162,49,24,2021-02-24 0:00,3,10,9.0,28.1,7,9.0,7.8,...,15.107143,95.400000,61.657143,85.704167,956.428571,463.142857,707.125000,21.328571,13.014286,16.017857
1163,49,24,2021-02-24 0:00,4,7,8.0,32.3,7,6.3,5.2,...,15.107143,95.400000,61.657143,85.704167,956.428571,463.142857,707.125000,21.328571,13.014286,16.017857
1164,49,25,2021-03-03 0:00,1,3,7.0,20.0,5,8.9,7.2,...,16.457143,95.757143,48.728571,82.379762,938.714286,428.857143,695.041667,26.042857,12.771429,17.498810
1165,49,25,2021-03-03 0:00,2,7,12.0,32.0,6,6.5,5.5,...,16.457143,95.757143,48.728571,82.379762,938.714286,428.857143,695.041667,26.042857,12.771429,17.498810
1166,49,25,2021-03-03 0:00,3,10,10.0,23.1,5,9.0,7.9,...,16.457143,95.757143,48.728571,82.379762,938.714286,428.857143,695.041667,26.042857,12.771429,17.498810
1167,49,25,2021-03-03 0:00,4,2,7.0,28.2,6,6.5,5.3,...,16.457143,95.757143,48.728571,82.379762,938.714286,428.857143,695.041667,26.042857,12.771429,17.498810
1168,49,26,2021-03-10 0:00,1,2,3.0,20.5,7,3.6,3.0,...,16.907738,93.800000,40.228571,73.798214,961.571429,540.285714,733.494048,25.714286,13.528571,18.380357
1169,49,26,2021-03-10 0:00,2,6,7.0,32.3,6,6.7,5.8,...,16.907738,93.800000,40.228571,73.798214,961.571429,540.285714,733.494048,25.714286,13.528571,18.380357
1170,49,26,2021-03-10 0:00,3,8,10.0,23.5,5,9.3,8.2,...,16.907738,93.800000,40.228571,73.798214,961.571429,540.285714,733.494048,25.714286,13.528571,18.380357
1171,49,26,2021-03-10 0:00,4,2,2.0,29.4,6,6.7,5.7,...,16.907738,93.800000,40.228571,73.798214,961.571429,540.285714,733.494048,25.714286,13.528571,18.380357
1172,49,27,2021-03-17 0:00,1,0,2.0,20.8,8,3.2,2.5,...,17.531548,93.471429,41.742857,75.481548,923.714286,478.285714,679.767857,25.514286,14.471429,18.750000
1173,49,27,2021-03-17 0:00,2,3,6.0,32.8,7,5.4,4.2,...,17.531548,93.471429,41.742857,75.481548,923.714286,478.285714,679.767857,25.514286,14.471429,18.750000
1174,49,27,2021-03-17 0:00,3,8,8.0,24.7,6,8.2,6.5,...,17.531548,93.471429,41.742857,75.481548,923.714286,478.285714,679.767857,25.514286,14.471429,18.750000
1175,49,27,2021-03-17 0:00,4,1,2.0,30.2,8,5.4,3.5,...,17.531548,93.471429,41.742857,75.481548,923.714286,478.285714,679.767857,25.514286,14.471429,18.750000
1176,49,28,2021-03-24 0:00,1,0,0.0,22.5,9,2.8,2.1,...,19.043452,92.542857,30.942857,68.372024,945.000000,484.857143,691.017857,27.971429,15.385714,20.486905
1177,49,28,2021-03-24 0:00,2,1,3.0,33.2,7,6.2,5.4,...,19.043452,92.542857,30.942857,68.372024,945.000000,484.857143,691.017857,27.971429,15.385714,20.486905
1178,49,28,2021-03-24 0:00,3,3,8.0,26.5,6,8.5,6.8,...,19.043452,92.542857,30.942857,68.372024,945.000000,484.857143,691.017857,27.971429,15.385714,20.486905
1179,49,28,2021-03-24 0:00,4,0,1.0,31.8,9,3.5,2.8,...,19.043452,92.542857,30.942857,68.372024,945.000000,484.857143,691.017857,27.971429,15.385714,20.486905
1180,49,29,2021-03-31 0:00,1,1,0.0,24.6,10,2.5,2.0,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1181,49,29,2021-03-31 0:00,2,1,1.0,33.8,8,5.4,4.9,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1182,49,29,2021-03-31 0:00,3,1,3.0,27.2,7,7.5,6.3,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1183,49,29,2021-03-31 0:00,4,0,0.0,32.3,10,3.3,2.5,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1184,49,30,2021-04-07 0:00,1,3,1.0,25.2,10,2.8,2.4,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1185,49,30,2021-04-07 0:00,2,2,1.0,34.5,8,5.9,5.1,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1186,49,30,2021-04-07 0:00,3,3,1.0,27.8,7,8.1,6.8,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1187,49,30,2021-04-07 0:00,4,1,0.0,33.2,10,3.8,2.9,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619

In [114]:
fin_df = df.dropna()
fin_df

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
4,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
5,11,5,2020.10.13 0:00,2,0,0.0,19.5,5,10.5,8.0,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
6,11,5,2020.10.13 0:00,3,0,0.0,21.0,5,10.7,9.6,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
7,11,5,2020.10.13 0:00,4,0,0.0,26.1,5,12.8,10.2,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
8,11,6,2020.10.20 0:00,1,0,0.0,20.1,6,11.6,9.2,...,16.247619,83.000000,25.857143,61.315476,1150.285714,436.714286,607.497024,15.831841,15.831841,15.831841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,49,29,2021-03-31 0:00,4,0,0.0,32.3,10,3.3,2.5,...,17.438095,93.857143,49.757143,77.357738,933.857143,451.857143,667.214286,24.214286,14.514286,18.525000
1184,49,30,2021-04-07 0:00,1,3,1.0,25.2,10,2.8,2.4,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1185,49,30,2021-04-07 0:00,2,2,1.0,34.5,8,5.9,5.1,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1186,49,30,2021-04-07 0:00,3,3,1.0,27.8,7,8.1,6.8,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619
1187,49,30,2021-04-07 0:00,4,1,0.0,33.2,10,3.8,2.9,...,17.842857,93.685714,47.714286,74.829762,896.000000,409.714286,629.190476,25.142857,14.657143,19.072619

In [115]:
fin_df.to_csv("./2020/최최종데이터_a_지난주추가.csv", index=False)

### 최종데이터에 푸리에 변환으로 week 변수 추가

In [116]:
import pandas as pd

df = pd.read_csv("./2020/최최종데이터_a_지난주추가.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1144 non-null   int64
 1   week             1144 non-null   int64
 2   week_start_date  1144 non-null   object
 3   obj_num          1144 non-null   int64
 4   flw_get          1144 non-null   int64
 5   last_flw_get     1144 non-null   float64
 6   height_pl        1144 non-null   float64
 7   num_leaf         1144 non-null   int64
 8   len_leaf         1144 non-null   float64
 9   width_leaf       1144 non-null   float64
 10  unit_len         1144 non-null   float64
 11  dim_pipe         1144 non-null   float64
 12  temp_ex_max      1144 non-null   float64
 13  temp_ex_min      1144 non-null   float64
 14  temp_ex_mean     1144 non-null   float64
 15  sr_ex_max        1144 non-null   float64
 16  sr_ex_min        1144 non-null   float64
 17  sr_ex_mean       1144 non-null   float64
 18  temp_int_max     1144 non-null   float64
 19  temp_int_min     1144 non-null   float64
 20  temp_int_mean    1144 non-null   float64
 21  hum_int_max      1144 non-null   float64
 22  hum_int_min      1144 non-null   float64
 23  hum_int_mean     1144 non-null   float64
 24  CO2_max          1144 non-null   float64
 25  CO2_min          1144 non-null   float64
 26  CO2_mean         1144 non-null   float64
 27  soil_temp_max    1144 non-null   float64
 28  soil_temp_min    1144 non-null   float64
 29  soil_temp_mean   1144 non-null   float64
dtypes: float64(24), int64(5), object(1)
memory usage: 268.2+ KB

,id,week,week_start_date,obj_num,flw_get,last_flw_get,height_pl,num_leaf,len_leaf,width_leaf,...,temp_int_mean,hum_int_max,hum_int_min,hum_int_mean,CO2_max,CO2_min,CO2_mean,soil_temp_max,soil_temp_min,soil_temp_mean
0,11,5,2020.10.13 0:00,1,0,0.0,21.1,6,11.1,8.2,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
1,11,5,2020.10.13 0:00,2,0,0.0,19.5,5,10.5,8.0,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
2,11,5,2020.10.13 0:00,3,0,0.0,21.0,5,10.7,9.6,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
3,11,5,2020.10.13 0:00,4,0,0.0,26.1,5,12.8,10.2,...,17.566375,80.857143,22.857143,58.428571,895.571429,432.857143,569.071429,15.831841,15.831841,15.831841
4,11,6,2020.10.20 0:00,1,0,0.0,20.1,6,11.6,9.2,...,16.247619,83.000000,25.857143,61.315476,1150.285714,436.714286,607.497024,15.831841,15.831841,15.831841

In [117]:
import numpy as np

# Fourier Features
df['week_sin'] = np.sin(2 * np.pi * df['week']/26.0)
df['week_cos'] = np.cos(2 * np.pi * df['week']/26.0)

In [118]:
df = df[['id', 'week', 'week_start_date', 'obj_num', 'flw_get', 'week_sin', 'week_cos', 'last_flw_get', 
       'height_pl', 'num_leaf', 'len_leaf', 'width_leaf', 'unit_len', 'dim_pipe',
       'temp_ex_max', 'temp_ex_min', 'temp_ex_mean', 'sr_ex_max', 'sr_ex_min',
       'sr_ex_mean', 'temp_int_max', 'temp_int_min', 'temp_int_mean',
       'hum_int_max', 'hum_int_min', 'hum_int_mean', 'CO2_max', 'CO2_min',
       'CO2_mean', 'soil_temp_max', 'soil_temp_min', 'soil_temp_mean']]

In [119]:
df.to_csv("./2020/최최종데이터_a_지난주추가_푸리에추가.csv", index=False)